.detailscol{
    margin-top: 80px;
    margin-left: 150px;

}

.height{
    height: 50px;
}


.edit_button {
    line-height: 16px;
    height: 20px;
    padding-right: 16px;
    border: none;
    background-color: white;
  }
