<div class="container mt-3">
  <div  style="margin-bottom: 10px;">
    <progressbar [value]="progressbarValue" type="success" [striped]="true">{{progressbarValue}}</progressbar>
  </div>
  
  <ng-container *ngIf="listData">
    <div class="row ">
      <div class="col-sm-6">
        <h4><b>Manage Employees</b></h4>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-primary" style="float:right;" (click)="addEmployee()">
          <i class='fa fa-plus-circle'></i><span> ADD</span>
        </button>
      </div>
    </div>
    <table class="table table-hover table-bordered" style="margin-top: 20px;">
      <thead>
        <tr class="center-align">
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeData; i as index">
          <td>{{emp.name}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.contact}}</td>
          <td>{{emp.address}}</td>
          <td><a type="button" (click)="view(emp)" class="btn btn-primary" class="edit_button">View</a></td>
          <td><a type="button" (click)="edit(emp)" class="btn btn-primary" class="edit_button">Edit</a></td>
          <td><a type="button" (click)="delete(emp.id)" class="btn btn-danger" class="edit_button">Delete</a></td>
        </tr>
        <tr>
          <td *ngIf="employeeData.length == 0" colspan="6"><strong>No data to display</strong> </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="addData">
    <div class="row ">
      <div class="col-sm-6">
        <h4><b>Add Employees</b></h4>
      </div>
      <div class="col-sm-6">
        <a href="#" routerLink="/employee/details" (click)="back()" class="btn back btn-primary" style="float:right;"><i
            class='fas fa-arrow-circle-left'></i>
          Back</a>
      </div>
    </div>
    <app-add-employee (onSubmit)="submit($event)"></app-add-employee>
  </ng-container>

  <ng-container *ngIf="editData">
    <div class="row ">
      <div class="col-sm-6">
        <h4><b>Edit Employees</b></h4>
      </div>
      <div class="col-sm-6">
        <a href="#" routerLink="/employee/details" (click)="back()" class="btn back btn-primary" style="float:right;"><i
            class='fas fa-arrow-circle-left'></i>
          Back</a>
      </div>
    </div>
    <app-add-employee  [isEdit]="editData" [empData]="editEmpData" (onSubmit)="submit($event)"></app-add-employee>
  </ng-container>

  <ng-container *ngIf="viewData">
    <div class="row ">
      <div class="col-sm-6">
        <h4><b>View Employees</b></h4>
      </div>
      <div class="col-sm-6">
        <a href="#" routerLink="/employee/details" (click)="back()" class="btn back btn-primary" style="float:right;"><i
            class='fas fa-arrow-circle-left'></i>
          Back</a>
      </div>
    </div>
    <app-view-employee [empData]="viewemp" ></app-view-employee>
  </ng-container>


</div>